#content[data-page="signin"] {
  background-color: var(--color-background-tertiary);
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
#content[data-page="signin"] section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
#content[data-page="signin"] h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 50px;
}
#content[data-page="signin"] label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  float: left;
  position: relative;
  right: 120px;
}

#content[data-page="signin"] input {
  width: 250px; /* Genişlik */
  padding: 8px; /* İç boşluk */
  border: 1px solid #ccc;
  border-radius: 4px;
}

#content[data-page="signin"] button {
  width: 268px;
  padding: 10px;
  border: none;
  background-color: var(--color-background-secondary);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#content[data-page="signin"] button:hover {
  background-color: var(--color-accent-hover);
}
#content[data-page="signin"] .wrapper {
  width: 300px;
  max-width: 100%;
  position: relative;

  margin: auto;
}

#content[data-page="signin"] .wrapper input {
  background: var(--color-background);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 100%;
  color: var(--color-text-secondary);
}
