#content[data-page="settings"] {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content[data-page="settings"] h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}

#content[data-page="settings"] section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border);
}

#content[data-page="settings"] section:last-of-type {
  border-bottom: none;
}

#content[data-page="settings"] section h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

#content[data-page="settings"] .segmented-control {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-background-secondary);
  padding: 5px;
  border-radius: 12px;
  width: fit-content;
}

#content[data-page="settings"] .segmented-control input[type="radio"] {
  display: none;
}

#content[data-page="settings"] .segmented-control label {
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--color-text-secondary);
  font-weight: 500;
  transition: all 0.3s ease;
  user-select: none;
  border: 2px solid transparent;
}

#content[data-page="settings"]
  .segmented-control
  input[type="radio"]:checked
  + label {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  border-color: var(--color-border);
  box-shadow: 0 1px 3px var(--color-shadow);
}

#content[data-page="settings"] #language-switcher .lang-btn {
}

#content[data-page="settings"] #language-switcher .lang-btn.active {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  border-color: var(--color-border);
  box-shadow: 0 1px 3px var(--color-shadow);
}

#content[data-page="settings"] button {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-secondary);
  border-radius: 8px;
  color: var(--color-text-primary);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid var(--color-border);
  transition: background-color 0.2s;
}

#content[data-page="settings"] button:hover {
  background-color: var(--color-background-tertiary);
  color: var(--color-text-primary);
}
