<div class="box">
  <section id="chat">
    <div>
      <section id="persona-info">
        <div class="persona-profile-card-chat">
          <div class="persona-avatar-container">
            <img
              id="persona-image"
              src=""
              alt="Persona profile image"
              key-alt="chatPage.persona.avatarAlt"
            />
          </div>

          <h1 id="persona-name"></h1>
          <p id="persona-meta"></p>

          <dl class="persona-details-list">
            <div class="detail-item">
              <div class="segmented-control">
                <button id="new-chat-btn" key="chatPage.persona.newChatButton">
                  + Yeni Sohbet
                </button>
              </div>
            </div>
            <div class="detail-item">
              <div class="segmented-control">
                <button
                  id="change-persona-btn"
                  key="chatPage.persona.changePersonaButton"
                >
                  Kişilik Değiştir
                </button>
              </div>
            </div>
            <div class="detail-item">
              <div class="segmented-control">
                <a href="/settings"
                  ><button key="header.settingsButtonLabel">Ayarlar</button></a
                >
              </div>
            </div>
          </dl>
        </div>
      </section>
    </div>
  </section>
  <section id="chat-message">
    <div class="chat-container">
      <div id="chat-box" class="chat-box"></div>

      <div class="input-container">
        <input
          type="text"
          id="user-input"
          placeholder="Bir şeyler yaz..."
          key-placeholder="chatPage.input.placeholder"
          autocomplete="off"
        />

        <div class="input-button-wrapper">
          <button
            id="mic-btn"
            aria-label="Sesli giriş"
            key-aria-label="chatPage.input.micAriaLabel"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"
              ></path>
              <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
              <line x1="12" y1="19" x2="12" y2="23"></line>
              <line x1="8" y1="23" x2="16" y2="23"></line>
            </svg>
          </button>

          <button id="send-btn" key="chatPage.input.sendButton">Gönder</button>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="js/pages/personaProfile.js" type="module"></script>
