<h1>Giriş Yap</h1>

<section>
  <label for="logineposta">E-posta</label>
  <div class="wrapper">
    <input type="email" id="logineposta" placeholder="E-mail" required />
  </div>
</section>

<section>
  <label for="loginpassword">Şifre</label>
  <div class="wrapper">
    <input type="password" id="loginpassword" placeholder="Şifre" required />
  </div>
</section>

<section>
  <button id="btnlogin" type="button">Giriş Yap</button>
</section>

<section>
  <label>Hesabınız yok mu? <a href="/signin">Kayıt Olun</a></label>
</section>

<script src="js/pages/login.js" type="module"></script>
