<h1>Giriş Yap</h1>
<section>
  <label for="eposta"> E-posta</label>
  <div class="wrapper">
    <input
      type="eposta"
      name="eposta"
      id="logineposta"
      placeholder="şifreniz"
      key-placeholder="indexPage.eposta.placeholder"
    />
  </div>
</section>
<section>
  <label for="password"> Şifre</label>
  <div class="wrapper">
    <input
      type="password"
      name="password"
      id="loginpassword"
      placeholder="şifreniz"
      key-placeholder="indexPage.password.placeholder"
    />
  </div>
</section>
<section>
  <button id="btnlogin" type="button">Giriş Yap</button>
</section>
<section>
  <label>Hesabınız yok mu ?<a href="/signin">KAYIT OL</a> </label>
</section>
<script src="js/pages/login.js" type="module"></script>
