<h1 key="settingsPage.title">Ayarlar</h1>

<section>
  <h3 key="settingsPage.theme.title">Tema</h3>
  <div class="segmented-control">
    <input type="radio" id="light" name="theme" value="light" />
    <label for="light" key="settingsPage.theme.light">Açık</label>

    <input type="radio" id="dark" name="theme" value="dark" />
    <label for="dark" key="settingsPage.theme.dark">Koyu</label>

    <input type="radio" id="auto" name="theme" value="auto" />
    <label for="auto" key="settingsPage.theme.auto">Otomatik</label>
  </div>
</section>

<section>
  <h3 key="settingsPage.language.title">Dil</h3>
  <div id="language-switcher" class="language-switcher">
    <button class="lang-btn" data-lang="tr">TR</button>
    <button class="lang-btn" data-lang="en">EN</button>
  </div>
</section>

<section>
  <h3 key="settingsPage.chatHistory.title">Sohbet Geçmişi</h3>
  <div class="segmented-control">
    <button
      type="button"
      key="settingsPage.chatHistory.clearButton"
      id="clearHistoryBtn"
    >
      Sohbet Geçmişini Temizle
    </button>
  </div>
</section>
