<h1 key="signUpPage.title">Kayıt Ol</h1>

<section>
  <label for="firstname" key="signUpPage.firstNameLabel">Ad</label>
  <div class="wrapper">
    <input
      type="text"
      id="firstname"
      placeholder="Adınız"
      required
      key-placeholder="signUpPage.firstNamePlaceholder"
    />
  </div>
</section>

<section>
  <label for="lastname" key="signUpPage.lastNameLabel">Soyad</label>
  <div class="wrapper">
    <input
      type="text"
      id="lastname"
      placeholder="Soyadınız"
      required
      key-placeholder="signUpPage.lastNamePlaceholder"
    />
  </div>
</section>

<section>
  <label for="email" key="signUpPage.emailLabel">E-posta</label>
  <div class="wrapper">
    <input
      type="email"
      id="signineposta"
      placeholder="E-mail"
      required
      key-placeholder="signUpPage.emailPlaceholder"
    />
  </div>
</section>

<section>
  <label for="profilePhoto" key="signUpPage.profilePhotoLabel"
    >Profil Fotoğrafı</label
  >
  <div class="wrapper">
    <input type="file" id="profilePhoto" accept="image/*" />
  </div>
</section>

<section>
  <label for="password" key="signUpPage.passwordLabel">Şifre</label>
  <div class="wrapper">
    <input
      type="password"
      id="signinpassword"
      placeholder="Şifre"
      required
      minlength="6"
      key-placeholder="signUpPage.passwordPlaceholder"
    />
  </div>
</section>

<section>
  <button id="btnsignin" type="button" key="signUpPage.signUpButton">
    Kayıt Ol
  </button>
</section>

<section>
  <label>
    <span key="signUpPage.alreadyHaveAccountLabel"
      >Zaten hesabınız var mı?
    </span>
    <a href="/login" key="signUpPage.loginLink">Giriş Yapın</a>
  </label>
</section>

<script src="js/pages/signin.js" type="module"></script>
