<h1>Kayıt Ol</h1>
<section>
  <label for="eposta"> E-posta</label>
  <div class="wrapper">
    <input
      type="eposta"
      name="eposta"
      id="signineposta"
      placeholder="E-mail"
      key-placeholder="indexPage.eposta.placeholder"
    />
  </div>
</section>
<section>
  <label for="password"> Şifre</label>
  <div class="wrapper">
    <input
      type="password"
      name="signinpassword"
      id="signinpassword"
      placeholder="Şifre"
      key-placeholder="indexPage.password.placeholder"
    />
  </div>
</section>
<section>
  <button id="btnsignin" type="button">Kayıt Ol</button>
</section>
<section>
  <label>Zaten hesabınız var mı ?<a href="/login">GİRİŞ YAPIN</a> </label>
</section>
<script src="js/pages/login.js" type="module"></script>
